# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out/
.angular/cache/
.angular/
*.tsbuildinfo

# Operating System
.DS_Store
Thumbs.db