# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db